Checks: 
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    modernize-*,
    -modernize-use-default-member-init,
    performance-*,

    portability-*,

    clang-analyzer-*,

    cppcoreguidelines-*,

    cert-*,

    readability-*,
    -readability-redundant-member-init,

